<h1>Contact Page</h1>
<ul>
  <li><a href='/'>Home</a></li>
  <li><a href='/about'>About</a></li>
</ul>



<form method='POST'  action='sent'> 
  <div class='row'>
    <div class='six columns'>
      <label for='exampleEmailInput'>Your name</label>
      <input
        name='userName'
        class='u-full-width'
        type='text'
        placeholder='User name'
        id='exampleEmailInput'
        style="background-color: #33c3f055;"
      />
    </div>
    <div class='six columns'>
      <label for='exampleEmailInput'>Your email</label>
      <input
        name='userEmail'
        class='u-full-width'
        type='email'
        placeholder='test@mailbox.com'
        id='exampleEmailInput'
        style="background-color: #33c3f055;"
      />
    </div>
  </div>
  <label for='exampleMessage'>Message</label>
  <textarea
    name='userText'
    class='u-full-width'
    placeholder='Hi Dave …'
    id='exampleMessage'
    style="background-color: #33c3f055;"
  ></textarea>

  <input class='button-primary' type='submit' value='Submit' />
</form>