<h1>Homepage</h1>
<ul>
  <li><a href='/about'>About</a></li>
  <li><a href='/contact'>Contact</a></li>
  <li><a href='/signup'>Register</a></li>
  <li><a href='/signin'>Login</a></li>
</ul>

<img src="../../public/images/company-overview-banner.png" alt="img" width="1200">