<h1>Login</h1>
<ul>
  <li><a href='/'>Home</a></li>
  <li><a href='/about'>About</a></li>
</ul>

<form method='POST' action='login'>
  <div class='row'>
    <div class='six columns'>
      <label for='exampleEmailInput'>Your name</label>
      <input
        name='name'
        class='u-full-width'
        type='text'
        placeholder='name'
        id='exampleEmailInput'
      />
    </div>

    <div class='six columns'>
      <label for='exampleEmailInput'>Your email</label>
      <input
        name='email'
        class='u-full-width'
        type='email'
        placeholder='test@mailbox.com'
        id='exampleEmailInput'
      />
    </div>

    <div class='six columns'>
      <label for='exampleEmailInput'>Your password</label>
      <input
        name='password'
        class='u-full-width'
        type='password'
        placeholder='User password'
        id='exampleEmailInput'
      />
    </div>
  </div>

  <input class='button-primary' type='submit' value='Submit' />
</form>